<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="text-center">Quiet time </h1>
  </div>

</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">QT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="" class="nav-item nav-link active" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="user/add" routerLinkActive="active">Add a devotion</a>
        <a class="nav-item nav-link" routerLink="users" routerLinkActive="active">Add a user</a>
      </div>
    </div>
  </nav>

<div class="container">
      <div style="text-align:center">
          <div>
            <h1>Welcome to {{ title }}!</h1>
            <p>we are made or unmade by the perspective we have and express towards spending time with God</p>
          </div>
          <h3>You are welcome to Quiet Time, home of spiritual growth</h3>
         </div>
      <hr />
      <router-outlet></router-outlet>  

</div>

